# macOS
.DS_Store

# Windows
Thumbs.db

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
